

{% load static %}
<html>

<head>
        <title>Hojas</title>
         <link rel="stylesheet" type='text/css' href="{% static 'css/hojasroot.css' %}">
         <script src="{% static 'js/hojasroot.js' %}"></script>
</head>

<body>

    <div class="parent">

        <button type="button" class='collapsible'>Hojas</h1></button>

        <div class="content">
            <nav>
                </p>
                <ul>
                    <li <a href=' '></li>Home</li>
                    <li <a href=' '></li>Community</li>
                    <li <a href=' '></li>About</li>
                </ul>
            </nav>
        </div>

    </div>

    <div class="content container">


        {% block content %}




        {% endblock %}

    </div>

    <div class='spacer'></div>

    <canvas id="canvas"></canvas>


    <div class="parent">
        <label class="expandSearch">
            <input type="text" name="search">
            <i>Chat</i>
        </label>
    </div>

</body>

</html>