

{% load static %}
<html>

<head>
        <title>Hojas</title>
         <link rel="stylesheet" href="{% static 'css/hojasroot.css' %}">
</head>

<body>


    
        <div class='siteTitle'>
            <h1>Hojas</h1>
        </div>
        <nav>
           </p>
            <ul>
                <li <a href=' '></li>>Home</li>
                <li <a href=' '></li>>Community</li>
                <li <a href=' '></li>>About</li>
            </ul>
        </nav>
    
    






    <div class="content container">
        <div class="globe">

            {% block content %}




            {% endblock %}

        </div>
    </div>


    <div class='chat'>



    </div>

    <div class='inbox'>
    
    
    
    </div>

</body>

</html>